{% extends "base.html" %}

{% block content %}
<div class="large-12 large-centered columns">
	<div class="row">
		<table>
			<thead>
				<tr>
					<th></th>
					<th width="1200">Project title</th>
					<th>Tickets</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for project_detail in project_details|dictsortreversed:"assigned" %}
				<tr>
					<td>{% if project_detail.assigned %}<i class="fi-flag"></i>{% endif %}</td>
					<td>{{ project_detail.project.title }}</td>
					<td>{{ project_detail.project.tickets.all|length }}</td>
					<td>
						<a href="{% url "project-update" project_id=project_detail.project.pk %}">
							<i class="fi-pencil"></i>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<p><a href="{% url "project-create" %}" class="button">Create project</a></p>
	</div>
</div>
{% endblock %}
